.container {
    width: 100%;
    max-width: 1420px;
    padding: 0 20px;
    margin: 0 auto;
}

.wrapper {
    font-style: normal;
    font-size: 14px;
    font-family: $main-font;
    font-weight: 400;
}