/*news start*/

.news {
    margin-top: 100px;

    &-title {
        font-weight: 600;
        font-size: 39px;
        line-height: 47px;
        color: $black-color;
        margin-bottom: 50px;
    }

    &-card {
        @include flex(center, center);
        column-gap: 24px;
        flex-wrap: nowrap;
        overflow-x: scroll; 
        width: 100%;
        // &::-webkit-scrollbar {
        //     display: none;
        // }

    }

    &-image {
        width: 100%;
        height: 30%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-titles {
        padding: 24px 24px 40px;
    }

    &-box {
        width: 25%;
        border-radius: 16px;
        background-color: $news-bg-color;

        @include md(600) {
            width: 100%;
        }
    }

    &-desktop {
        @include md(600) {
            display: none;
        }
    }

    &-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: $black-color;
    }

    &-subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: $button-border;
        margin-top: 6px;
    }

    &-buttons {
        display: none;
        @include md(600) {
            @include flex(center,center);
            column-gap: 12px;
        }
    }

    &-button {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 1px solid $button-border;
        @include flex(center,center);
        @include trn();

        &:hover {
            background-color: $button-color;
        }
    }
}

/*news end*/