// fonts

$main-font: 'Montserrat', sans-serif;

// colors

$white-color: #fff;
$header-line-color:#8D8C8B;
$hover-color:#1C1917;
$button-color:#FF8541;
$button-border:#555351;
$black-color:#000;
$news-bg-color:#F9F8F6;